body {
    background-color: black;
}
.header-text {
    color: aliceblue;
    font-size: 50px;
}

.subheader-text {
    color: aliceblue;
    font-size: 35px;
}

.page-title {
    margin-left: 80px;
    margin-top: 55px;
}

.bio{
    background-color: aliceblue;
    margin-right: 80px;
    font-size: larger;
    padding: 15px;
}

.cover-pic {
    object-fit: cover;
    height: 220px;
    width: 2000px;
}

.center {
    text-align: center;
}
