body {
    background-color: black;
}
.header-text {
    color: aliceblue;
    font-size: 50px;
    animation-name: bio-up;
    -webkit-animation-name: bio-up;
    -moz-animation-name: bio-up;
    -o-animation-name: bio-up;
    animation-duration: 3s;
    position: relative;
}

.subheader-text {
    color: aliceblue;
    font-size: 35px;
    animation-name: bio-up;
    -webkit-animation-name: bio-up;
    -moz-animation-name: bio-up;
    -o-animation-name: bio-up;
    animation-duration: 3s;
    position: relative;
}

.page-title {
    margin-left: 80px;
    margin-right: 80px;
}

.bio{
    background-color: black;
    margin-right: 80px;
    font-size: larger;
    padding: 15px;
    color: aliceblue;
    animation-name: bio-up;
    -webkit-animation-name: bio-up;
    -moz-animation-name: bio-up;
    -o-animation-name: bio-up;
    animation-duration: 3s;
    position: relative;
}
.img-text{
    padding: 15px;
    color: aliceblue;
    float: right;
}

.cover-pic {
    object-fit: cover;
    height: 220px;
    width: 100%;
}

.work-pic {
    object-fit: contain;
    width: 100%;
    height: 400px;
}

.center {
    text-align: center;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
    width: 100%;
}

li {
    float: left;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

/* Change the link color to #111 (black) on hover */
li a:hover {
    background-color: #111;
}

.page-card {
    background-color: #323580;
    padding: 10px;
    margin: 50px 50px 50px 50px;
    position: center;
}

.active {
    background-color: #323580;
}

table {
    width: 100%;
    table-layout: fixed;
}

@keyframes bio-up {
    from {top: 400px}
    to {top: 0}
}

@-ms-keyframes bio-up {
    from {top: 400px}
    to {top: 0}
}

@-webkit-keyframes bio-up {
    from {top: 400px}
    to {top: 0}
}

@-moz-keyframes bio-up {
    from {top: 400px}
    to {top: 0}
}

@-o-keyframes bio-up {
    from {top: 400px}
    to {top: 0}
}

.flip-card {
    background-color: transparent;
    width: 100%;
    height: 400px;
}

.flip-card-inner {
    position: relative;
    width: 100%;
    height: 100%;
    text-align: center;
    transition: transform 0.6s;
    transform-style: preserve-3d;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
}

.flip-card:hover .flip-card-inner {
    transform: rotateY(180deg);
}

.flip-card-front, .flip-card-back {
    position: absolute;
    width: 100%;
    height: 100%;
    -webkit-backface-visibility: hidden;
    -moz-backface-visibility: hidden;
    backface-visibility: hidden;
}

.flip-card-front {
    background-color: #bbb;
    color: black;
}

.flip-card-back {
    background-color: black;
    color: white;
    transform: rotateY(180deg);
    padding-left: 10px;
    padding-right: 10px;
}

/* Style the buttons that are used to open and close the accordion panel */
.accordion {
    background-color: black;
    color: aliceblue;
    cursor: pointer;
    padding: 20px;
    width: 100%;
    text-align: left;
    border: none;
    outline: none;
    transition: 0.4s;
    font-size: 25px;
}

/* Add a background color to the button if it is clicked on (add the .active class with JS), and when you move the mouse over it (hover) */
.active, .accordion:hover {
    background-color: gray;
}

/* Style the accordion panel. Note: hidden by default */
.panel {
    padding: 0 18px;
    background-color: black;
    display: none;
    overflow: hidden;
}

.center {
    margin: auto;
    width: 50%;
    padding: 10px;
}

