body {
    background-color: black;
}
.header-text {
    color: aliceblue;
    font-size: 50px;
    animation-name: bio-up;
    -webkit-animation-name: bio-up;
    -moz-animation-name: bio-up;
    -o-animation-name: bio-up;
    animation-duration: 3s;
    position: relative;
}

.subheader-text {
    color: aliceblue;
    font-size: 35px;
    animation-name: bio-up;
    -webkit-animation-name: bio-up;
    -moz-animation-name: bio-up;
    -o-animation-name: bio-up;
    animation-duration: 3s;
    position: relative;
}

.page-title {
    margin-left: 80px;
    margin-right: 80px;
}

.bio{
    background-color: black;
    margin-right: 80px;
    font-size: larger;
    padding: 15px;
    color: aliceblue;
    animation-name: bio-up;
    -webkit-animation-name: bio-up;
    -moz-animation-name: bio-up;
    -o-animation-name: bio-up;
    animation-duration: 3s;
    position: relative;
}

.cover-pic {
    object-fit: cover;
    height: 220px;
    width: 100%;
}

.center {
    text-align: center;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
    width: 100%;
    position: fixed;
}

li {
    float: left;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

/* Change the link color to #111 (black) on hover */
li a:hover {
    background-color: #111;
}

.page-card {
    background-color: #323580;
    padding: 10px;
    margin: 75px 50px 50px 50px;
    position: center;
}

.active {
    background-color: #323580;
}

table {
    width: 100%;
}

@keyframes bio-up {
    from {top: 400px}
    to {top: 0}
}

@-ms-keyframes bio-up {
    from {top: 400px}
    to {top: 0}
}

@-webkit-keyframes bio-up {
    from {top: 400px}
    to {top: 0}
}

@-moz-keyframes bio-up {
    from {top: 400px}
    to {top: 0}
}

@-o-keyframes bio-up {
    from {top: 400px}
    to {top: 0}
}

